<!DOCTYPE HTML>
<html>
	<head>
		<title>Apply for Apartment</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static',filename='assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                <header id="header">
                    <h1><a href="/">NMU Student Housing</a></h1>
                    <nav id="nav">
                        <ul>
                            <li class="special">
                                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                                <div id="menu">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/policies">Policies</a></li>
                                        <li><a href="/apply">Sign Up</a></li>
                                        <li><a href="/login">Log In</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </header>
                    
                <!-- Main -->
                <article id="main">
                    <section class="wrapper style5">
                        <div class="inner">
                            <section>
                                <h4>Add data to apartment table</h4>
                                <form method="post" action="#">
                                    <div class="row gtr-uniform">
                                        <div class="col-12">
                                            <select name="building_id" id="building_id">
                                                <option value="">- building_id -</option>
                                                {% for id in building_ids %}
                                                <option value="{{id}}">{{id}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-12">
                                            <select name="floor" id="floor">
                                                <option value="">- floor -</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>
                                        </div>
                                        <div class="col-12">
                                            <select name="occuppancy_status" id="occuppancy_status">
                                                <option value="">- occuppancy_status -</option>
                                                <option value="empty">Empty</option>
                                                <option value="partial">Partial</option>
                                                <option value="full">Full</option>
                                            </select>
                                        </div>
                                        <div class="col-12">
                                            <ul class="actions">
                                                <li>
													<li><input type="submit" value="Apply" class="primary" /></li>
													<li><input type="reset" value="Reset" /></li>   
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </section>
                </article>

                <!-- Footer -->
                <footer id="footer">
                    <ul class="icons">
                        <li><a href="https://www.facebook.com/NMU2021" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                        <li><a href="https://www.nmu.edu.eg/en" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                        <li><a href="mailto:info@nmu.edu.eg" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
                    </ul>
                    <ul class="copyright">
                        <li>&copy; Copyright 2024, NMU Student Housing</li><li>Designer: <a href="https://github.com/Lordiod">Youssef Yasser</a></li>
                    </ul>
                </footer>
        </div>
        
        <!-- Scripts -->
        <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/jquery.scrollex.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/jquery.scrolly.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/browser.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/util.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
    </body>
</html>