<!DOCTYPE HTML>
<html>
	<head>
		<title>Eligibility</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static',filename='assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                <header id="header">
                    <h1><a href="/">NMU Student Housing</a></h1>
                    <nav id="nav">
                        <ul>
                            <li class="special">
                                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                                <div id="menu">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/policies">Policies</a></li>
                                        <li><a href="/signup">Sign Up</a></li>
                                        <li><a href="/login">Log In</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Eligibility Guidelines</h2>
							<p>NMU Housing is available to undergraduate, faculty, and employees of NMU University.</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3>Undergraduates</h3>
								<p>To qualify for housing, you need to meet the following requirements:</p>
									<ul>
										<li>
											Studying in the University
										</li>
										<li>
											Lives 90 km or more away from the university
										</li>
									</ul>
								<h4>Not Eligible</h4>
								<p>These groups are not eligible to lease our apartments, but they may apply to sublet from a current resident:</p>
									<ul>
										<li>
											Graduates
										</li>
										<li>
											NMU Summer School students
										</li>
										<li>
											NMU Military education or other events
										</li>
									</ul>
								<h3>Faculty and Employees</h3>
								<p>To qualify for housing, you need to meet the following requirements:</p>
									<ul>
										<li>
											Full-time, working a minimum of 35 hours per week with an active New Mansoura University ID number, receiving a New Mansoura University paycheck, and eligible for full University benefits
										</li>
										<li>
											Full-time NMU appointee with an active New Mansoura University ID, which you have if you are a:
												<ul>
													<li>
														Visiting faculty member, scholar, or fellow
													</li>
													<li>
														Benefits-eligible postdoctoral fellow
													</li>
												</ul>
										</li>
									</ul>
								<p>If you are currently affiliated with NMU and are starting a new job, you must submit your new appointment letter to us as part of your rental application so we can confirm eligibility. Affiliation must be valid through March 1, 2025.</p>
								<h3>Authorized Occupants</h3>
								<p>Occupants may live with a spouse/domestic partner, child, parent, or sibling, all of which are considered “Authorized Occupants.”</p>
								<p>When applying, there will be two options to add someone to your application. <strong>Authorized Occupants should be indicated with the 'Non-Affiliated Occupant' option.</strong></p>
								<p>If you add an Authorized Occupant after you apply and sign a lease, you must submit an Authorized Occupant Form to the Leasing Office. Please contact the Leasing Office at the university for more information or to request an Authorized Occupant Form.</p>
							</div>
						</section>
					</article>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://www.facebook.com/NMU2021" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.nmu.edu.eg/en" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="mailto:info@nmu.edu.eg" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Copyright 2024, NMU Student Housing</li><li>Designer: <a href="https://github.com/Lordiod">Youssef Yasser</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
		<script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/browser.min.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/util.js') }}"></script>
		<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>

	</body>
</html>