<!DOCTYPE HTML>
<html>
	<head>
		<title>Policies</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static',filename='assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload">
        <!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
                <header id="header">
                    <h1><a href="/">NMU Student Housing</a></h1>
                    <nav id="nav">
                        <ul>
                            <li class="special">
                                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                                <div id="menu">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/policies">Policies</a></li>
                                        <li><a href="/signup">Sign Up</a></li>
                                        <li><a href="/login">Log In</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </header>

                <!-- Main -->
                <article id="main">
                    <header>
                        <h2>Housing Policies</h2>
                        </br>
                    </header>
                    <section class="wrapper style5">
                        <div class="inner">
                            <h3>Undergraduates</h3>
                                <p>New Mansoura University provides distinguished university housing adjacent to the university building in the Misr Housing buildings that the university owns in New Mansoura City. The housing is buildings directly opposite the university building, at a distance of 500 to 700 meters from the main university entrance.</p>
                                <h4>First: Description of university housing at New Mansoura University</h4>
                                <hr>
                                <ul>
                                    <li>Residential buildings are equipped to the highest standard.</li>
                                    <li>The residence has cleaners for the public facilities, not for the rooms or inside the apartments</li>
                                    <li>The buildings have 24-hour security.</li>
                                    <li>University housing has a disciplinary list and times for entry, exit, and dealings, and it is not permitted to exceed these times specified by the university administration.</li>
                                    <li>The residence is equipped with supervision at all times.</li>
                                    <li>Cleaning the apartment and maintaining its furnishings are the responsibility of the students gathered inside this apartment.</li>
                                    <li>Each student is accommodated in a separate room and is not allowed to host anyone inside the rooms.</li>
                                    <li>The residence is equipped with a medical clinic that operates around the clock under full medical supervision from the university and has the necessary medications in emergency cases.</li>
                                    <li>There are buildings designated for female students, other buildings designated for male students, and buildings designated for faculty members and members of the administrative staff.</li>
                                    <li>The male or female student and guardian must sign the housing regulations and fully adhere to them.</li>
                                    <li>Priority in housing - in the event that applications exceed available places - is for students from remote areas and students with the highest grades.</li>
                                    <li>In the event of violating the housing rules, the male or female student will be deprived of housing immediately.</li>
                                    <li>University housing fees are 8,000 thousand pounds per semester. Each student is in a single room. Hotel furnishings in a three-room apartment. The apartment contains: a kitchen, a reception hall with a living room, a dining table with 4 chairs, a 10 kg washing machine, a microwave, a stove, and a fan in each room. There is an iron in each apartment, and the student is also given his own personal tools for personal use.
                                        </br></br>In addition, the student pays 4,000 pounds as insurance, which will be refunded if there are no damages.</li>
                                    <li>n order to ensure the safety of the students, any electrical tools other than those present in the residence are not allowed to enter. Also, any gas stove is not allowed to enter.</li>
                                    <li>And housing without meals and without the Internet.</li>
                                    <li>The student and his guardian who wishes to use university housing must sign the residence regulations in university housing and commit not to violate them.</li>
                                    <li>There are some things that the university seeks to provide in the next stage, but they are not confirmed as they are linked to other parties and no one has the right to claim them after housing.</li>
                                    <li>Any deviation from the established rules and housing regulations, including keeping appointments, clean apartments, avoiding noise, respecting the privacy of others, and adhering to instructions, exposes the student to eviction from housing in the event of violating these rules.</li>
                                    <li>The university seeks, along with the Egyptian Telecom Company, to provide telephone lines to connect the Internet to residential buildings once the New Mansoura City Central Bank is operational, or to search for other alternatives to connect the Internet to students’ residences.</li>
                                    <li>The university is seeking to make modifications to some of the apartments on the ground floor to create entertainment areas and activity rooms.</li>
                                    <li>The university is seeking to make some modifications to establish restaurants in some apartments in some buildings on the ground floor and provide companies to manage it optionally for students.</li>
                                    <li>Since what the university is seeking requires some licenses and some approvals, it may take some time.</li>
                                </ul>
                                <h4>Second: Disciplinary regulations for students <br> inside university housing at New Mansoura University</h4>
                                <hr>
                                <p>presentation:</p>
                                <ul>
                                    <li>University housing is considered one of the important sectors at New Mansoura University, and it operates 24 hours a day and throughout the academic year. To provide full care for expatriate students, and provides them with accommodation and food, in addition to recreational programs and purposeful sports, social, and cultural activities that are prepared under the supervision of the university housing administration.</li>
                                </ul>
                                <hr>
                                <p><b>Article (1) Penal system in university housing:</b></p>
                                <hr>
                                <div class="table-wrapper">
                                    <table class="alt">
                                        <thead>
                                            <tr>
                                                <th>Violation</th>
                                                <th>Disciplinary penalty</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p><u>Firstly :</u></p>
                                                    <ul>
                                                        <li>Being late outside the residence after the scheduled appointments.</li>
                                                        <li>Making noise in the residence and its facilities.</li>
                                                        <li>Appearing in inappropriate clothing.</li>
                                                        <li>Failure to adhere to university housing regulations.</li>
                                                        <li>Using housing tools for purposes other than their intended use, such as using electric heaters or the like.</li>
                                                        <li>Failure to clean the room or throwing waste in places other than those designated for it.</li>
                                                        <li>Bring large televisions or recording devices to the bedrooms.</li>
                                                        <li>Hanging posters inside buildings and rooms without prior permission.</li>
                                                        <li>Rooftops of residential buildings.</li>
                                                        <li>Being outside university housing without obtaining permission to spend the night outside for female students, with notifying the guardian. In the event of a repeat violation, the guardian must be notified again.</li>
                                                        <li>Misuse of university housing tools and facilities</li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <br><br>
                                                    <ul>
                                                        <li>Imposing a penalty for drawing attention (warning) in the event that any of these violations are committed the first time.</li>
                                                        <li>Imposing a deprivation warning penalty in the event that any of these or similar violations are repeated for a second time.</li>
                                                        <li>Imposing a penalty of temporary deprivation of residence for a period (from one week to a month) in the event that any of these violations are repeated for the third time.</li>
                                                        <li>Imposing the penalty of permanent deprivation of residency in the event that any of these violations are committed for the fourth time.</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><u>Secondly :</u></p>
                                                    <ul>
                                                        <li>Tampering with university housing custody.</li>
                                                        <li>Practicing sports activities between buildings and in places other than those designated for them.</li>
                                                        <li>The presence of the building’s era in places other than its intended use.</li>
                                                        <li>The student’s presence in university housing despite being informed of his absence.</li>
                                                        <li>Using university housing tools for purposes other than their intended purpose.</li>
                                                        <li>Absence from university housing without permission or an acceptable excuse.</li>
                                                        <li>The student used the university housing card before obtaining a replacement for the lost one.</li>
                                                        <li>Use speakers.</li>
                                                        <li>Throwing waste from room windows.</li>
                                                        <li>Any violation of the provisions of the regulations and decisions issued by the University Housing Administration.</li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <br><br>
                                                    <ul>
                                                        <li>Imposing a warning penalty of deprivation of residence if any of these violations are committed for the first time.</li>
                                                        <li>Imposing a penalty of temporary deprivation of residence (from one week to a month) in the event that any of these violations are committed for the second or similar time.</li>
                                                        <li>Permanent deprivation of residency in the event that any of these violations are committed for the third time or similar violations.</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><u>Third :</u></p>
                                                    <ul>
                                                        <li>The presence of non-residents in the bedrooms.</li>
                                                        <li>Having the room key with a non-resident.</li>
                                                        <li>Having a student card with another student.</li>
                                                        <li>Friendly (informal) transfer between students other than the residence hall.</li>
                                                        <li>Using electrical connections inside or outside buildings or inside rooms, which affects electricity loads.</li>
                                                        <li>Deviation from decorum in the treatment of colleagues or employees in the residence.</li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <br><br>
                                                    <ul>
                                                        <li>Imposing a temporary deprivation penalty for a period of (one week to a month) in the event that any of these violations are committed for the first time.</li>
                                                        <li>Imposing the penalty of permanent deprivation of residency in the event of repetition of any of these or similar violations.</li>
                                                        <li>Impose an immediate eviction penalty for anyone who commits a violation.</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><u>Fourthly :</u></p>
                                                    <ul>
                                                        <li>Using drugs, alcohol, or being in places where drugs or alcohol are used.</li>
                                                        <li>Carrying out gambling, smoking in rooms, or purchasing a shisha or the like.</li>
                                                        <li>Picketing, participating in demonstrations, or inciting them.</li>
                                                        <li>Forming groups, holding meetings, distributing leaflets, or holding exhibitions without prior permission.</li>
                                                        <li>Possession of weapons of all kinds or possession of flammable or flammable materials.</li>
                                                        <li>Tampering with city facilities or deliberately damaging them, such as public electricity switches, gas or water valves, or fire extinguishers, or defacing walls by writing or drawing on them, resulting in damage.</li>
                                                        <li>Possessing or using fireworks (rockets or flares) inside university housing or possessing flammable or flammable materials.</li>
                                                        <li>The student assaulted by hitting another student, the staff, or using other tools.</li>
                                                        <li>Any act that degrades honor or dignity or is contrary to good behavior.</li>
                                                        <li>The student who resides in university housing after the end of his residency is also punished by paying the period of his actual residence and not being placed in residence in the following year.</li>
                                                        <li>Also, a student who loses his residence card (card) will be punished by paying the fine, and in the event of repeated loss of the card, he will be punished with a temporary eviction penalty (one week to a month).</li>
                                                    </ul>
                                                </td>
                                                <td>
                                                    <br><br>
                                                    <p>Impose the penalty of immediate eviction and permanent deprivation on anyone who commits one of the violations included in Clause Four</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p><b>Article (2) Bodies competent to impose sanctions:</b></p>
                                <hr>
                                <ul>
                                    <li> University's president.</li>
                                    <li>University housing director.</li>
                                    <li>Chairman of the University Housing Board of Directors.</li>
                                    <li>University Housing Disciplinary Committee.</li>
                                </ul>
                                <p><b>Article (3):</b></p>
                                <hr>
                                <ul>
                                    <li>The student may file a grievance against the penalties imposed on him in accordance with these regulations within a period not exceeding one week from the date of his notification of the penalty, otherwise the decision imposing the penalty will be final.</li>
                                    <li>The student shall bear the accommodation fees during the period of his deprivation if he has been subjected to a penalty of deprivation of residence in university housing for up to a month. He is not allowed to return to reside in university cities after the implementation of the penalty except after the guardian appears in person and pledges in writing not to repeat the violation.</li>
                                    <li>The college to which the student is affiliated shall be informed of the penalty imposed and its reasons.</li>
                                </ul>
                                <p><b>Article (4): University Housing Disciplinary Committee</b></p>
                                <hr>
                                <p>The University Housing Disciplinary Committee consists of:</p>
                                <ul>
                                    <li>Secretary General of the University.</li>
                                    <li>General Manager of University Housing.</li>
                                    <li>A faculty member appointed annually by the university president.</li>
                                    <li>A member of the university's legal affairs serves as the secretariat of the committee.</li>
                                    <li>These regulations shall be effective from the date of approval by the University Council.</li>
                                </ul>
                        </div>
                    </section>
                </article>

                <!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://www.facebook.com/NMU2021" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.nmu.edu.eg/en" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="mailto:info@nmu.edu.eg" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Copyright 2024, NMU Student Housing</li><li>Designer: <a href="https://github.com/Lordiod">Youssef Yasser</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
        <script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/jquery.scrollex.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/jquery.scrolly.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/browser.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/util.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
	</body>
</html>